.buttoncontainer{
    width: 250px;
    margin: 60px auto;
    position: relative;
    text-align: center;
}

.whiteButton{
  background-color: white;
  color: #6A1F1F;
  width: 100%;
  font-size: 20px;
  font-family: 'Helvetica';
  padding: 10px 25px;
  border-radius: 20px;
  margin: 10px 0px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.redButton{
    width: 100%;
    color: white;
    background-color: #6A1F1F;
    font-size: 20px;
    font-family: 'Helvetica';
    padding: 10px 25px;
    border-radius: 20px;
    margin: 10px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.redButton:hover{
    background-color: #B15555;
  }

  .whiteButton:hover{
    box-shadow: 0 1px 5px #6A1F1F;
  }