.buttoncontainer {
    width: 250px;
    margin: 10px;
    text-align: center;
    filter: drop-shadow(0 0.25rem 0.1rem rgba(0, 0, 0, 0.3));
    border-width: 0;
}

.redButton,
.whiteButton {
    outline: none;
    border: none;
}

.whiteButton {
    background-color: white;
    color: #6a1f1f;
    width: 100%;
    font-size: 20px;
    font-family: 'Helvetica';
    padding: 10px 25px;
    border-radius: 20px;
    margin: 10px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.redButton {
    width: 100%;
    color: white;
    background-color: #6a1f1f;
    font-size: 20px;
    font-family: 'Helvetica';
    padding: 10px 25px;
    border-radius: 20px;
    margin: 10px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.redButton:hover,
.whiteButton:hover {
    background-color: #ffd25f;
    color: #6a1f1f;
}
