@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

fieldset {
  text-align: left;
  border: none;
  padding: 5px 0px;

}

input{
  border: solid 3px #6A1F1F;
  
}

label{
  min-width: 100px;
}

.btn{
  background-color: #6A1F1F;
  padding: 10px;
  min-width: 200px;
  border-radius: 10px;
  display: inline-block;
  color: white;
  font-weight: bold;
  margin: 0 auto;
}

.center{
  text-align: center;
  width: 100%;
}