.threads-container{
  color: black;
  width: 100%;
  font-size: 20px;
  font-family: 'Helvetica';
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
}

.thread-card-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}

.thread-card-bottom{
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    margin: -15px 20px 10px;

    flex: 1px;
}

.bottom-left{
    flex-direction:row;
}

.bottom-right{
    flex-direction:row;
    align-items: right;
}


p {
    font-size: 17px;
    flex-direction: row;
    display: inline-block;
}

h2{
    display: inline-block;
}
