#filterContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

#filterContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    font-weight: bold;
    height: min-content !important;
}

#filterContainer .buttoncontainer {
    margin: 0 !important;
}

#filterContainer p {
    font-size: 1.25rem;
}

#filterTagContainer {
    margin-left: 0.75rem;
}

#filterTagContainer input {
    padding: 0.25rem;
    font-size: 1rem;
    width: 6rem;
}

#filterContainer .right {
    margin: 0;
    margin-left: auto;
}

input[type='checkbox'] {
    font: inherit;
    color: currentColor;
    width: 1.4em;
    height: 1.4em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    display: grid;
    place-content: center;
    margin-top: 0.25rem;
    border-color: #6a1f1f;
}

input[type='checkbox']::before {
    content: '';
    width: 0.85em;
    height: 0.85em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em 0.5em #6a1f1f;
}

input[type='checkbox']:checked::before {
    transform: scale(1);
}
