:root,
* {
    font-family: Arial, Helvetica, sans-serif !important;
}

h1::first-letter,
h2::first-letter {
    text-transform: capitalize;
}

a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: rgb(189, 27, 27);
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: rgb(255, 209, 83);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    height: 2px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.boardTitle {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
}

.margin-top {
    margin-top: 2rem;
}
